// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

.grid {
    display: grid;
    font-family: 'Verdana', sans-serif;
    grid-template-areas: 'board';
    margin: 0;
    padding: 0;
}

.grid--small {
    height: 48vh;
    width: 48vh;
}

.grid--medium {
    height: 72vh;
    width: 72vh;
}

.grid--large {
    height: 96vh;
    width: 96vh;
}
