// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

.grid {
    display: grid;
    font-family: 'Verdana', sans-serif;
    grid-template-areas: 'board';
    margin: 0;
    padding: 0;
}

.grid--small {
    height: 56vh;
    width: 56vh;
}

.grid--medium {
    height: 84vh;
    width: 84vh;
}

.grid--large {
    height: 112vh;
    width: 112vh;
}
