// ----------------------------------------------------------------------------
// Images
// ----------------------------------------------------------------------------

.image--small {
    height: 6.5vh;
    width: 6.5vh;
    margin: auto;
    border: none;
}
