// ----------------------------------------------------------------------------
// Images
// ----------------------------------------------------------------------------

.image--small {
    height: 5.5vh;
    width: 5.5vh;
    margin: auto;
    border: none;
}
