// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$color-blue-dark: #4900ff;
$color-blue-light: #00b8ff;
$color-green: #00e788;
$color-magenta: #ff00c0;
$color-pink-hot: #fa2681;
$color-purple: #9600ff;
$color-teal-dark: #02c6c9;
$color-teal-light: #00fff9;
$color-grey: hsla(0, 0%, 0%, 0.2);
$color-white: #fff;
$color-black: #000;
