// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$color-blue-dark: #4900FF;
$color-blue-light: #00B8FF;
$color-green: #00E788;
$color-magenta: #FF00C0;
$color-pink-hot: #FA2681;
$color-purple: #9600FF;
$color-teal-dark: #02C6C9;
$color-teal-light: #00FFF9;
$color-grey: hsla(0, 0%, 0%, 0.2);